.util-center-text {
  text-align: center;
}

.util-margin-bottom-big {
  margin-bottom: 8rem;
}

.util-margin-bottom-medium {
  margin-bottom: 4rem;
}

.util-margin-top-medium {
  margin-top: 4rem;
}

.util-margin-top-small {
  margin-top: 1.5rem;
}

.util-margin-bottom-small {
  margin-bottom: 1.5rem;
}

.util-margin-left-medium {
  margin-left: 4rem;
}

.util-margin-right-small {
  margin-right: 1.5rem;
}

.util-image-height-small {
  height: 15rem;
}

.util-image-height-medium {
  height: 18rem;
}

.util-image-height-large {
  height: 20rem;
}
