.header {
  overflow: hidden;
  background-color: $color-grey-light-first;
  padding: 1rem 1rem;

  &__logo {
    position: absolute;
    top: 1rem;
    left: 2rem;
    height: 6rem;
  }

  &__auth-box {
    float: right;
  }
}
