$color-primary: #939de3;
$color-primary-light: #9ea6df;
$color-primary-dark: #6853d1;
$color-grey-dark: #777;
$color-grey-dark-two: #333;

$color-secondary_light: #e3983f;
$color-secondary_dark: #e3503f;

$color-grey-light-first: #f7f7f7;
$color-grey-light-second: #eee;
$color-grey-light-third: #ccc;

$color-white: #fff;
$color-black: #000;

// FONT
$default-font-size: 1.6rem;

// GRID
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-vertical-small: 6rem;
$gutter-horizontal: 6rem;
