.Toastify__toast {
  &-body {
    padding-left: 1.5rem;
    font-size: 1.5rem;
  }

  &--success {
    background-color: $color-primary;
  }

  &--error {
    background-color: $color-secondary_dark;
  }
}
