.find-section {
  height: 85vh;
  background-image: linear-gradient(
      to right bottom,
      rgba($color-primary-light, 0.8),
      rgba($color-primary-dark, 0.8)
    ),
    url(https://i.ibb.co/t8XzdZS/farming-land.jpg);
  background-size: cover;
  background-position: top;
  position: relative;
}

.about-section {
  background-color: $color-grey-light-first;
  padding: 10rem 0;
}

.features-section {
  padding: 15rem 0;
  background-image: linear-gradient(
      to right bottom,
      rgba($color-primary-light, 0.8),
      rgba($color-primary-dark, 0.8)
    ),
    url(https://i.ibb.co/t8XzdZS/farming-land.jpg);
  background-size: cover;
}

.boy-section {
  background-color: $color-grey-light-first;
  padding: 15rem 0;
}

.section-stories {
  position: relative;
  padding: 15rem 0;
}
