.signup {
  &__container {
    height: 87vh;

    &--form {
      margin: 0 auto;
      margin-top: 3rem;
      max-width: 55rem;
      background-color: #fff;
      -webkit-box-shadow: 0 2.5rem 8rem 2rem rgba(0, 0, 0, 0.06);
      box-shadow: 0 2.5rem 8rem 2rem rgba(0, 0, 0, 0.06);
      padding: 5rem 7rem;
      border-radius: 5px;
    }
  }
}
